.top-header {
    background-color: #333; 
    color: #fff;
    padding: 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000; 
}
nav {
    border-bottom: 2px solid #000;
}

h1 {
    font-size: 32px; 
}
h2 {
    font-size: 24px;
}

.hamburger-menu {
    font-size: 40px;
    cursor: pointer;
    margin-right: 10px; 
    margin-left: 10px;
}
main {
    padding: 20px; 
}
header p {
    font-size: 14px; 
}
.bottom-footer {
    background-color: #333; 
    color: #fff; 
    padding: 10px; 
    border-top: 2px solid #000; 
}
footer p {
    font-size: 14px;
}
@media (max-width: 767px) {
    aside {
        display: none;
    }
    nav {
        display:none;
    }
}
@media (min-width: 766px) {
    .hamburger-menu {
        display:none;
    }
}



